{% extends 'trade.html' %}

<div class="row">
    {% block pokedex %} 
        <div id="pokemon-detail"></div>    
    {% endblock %}

    {% block pokemon_list %}

        <div class="card-panel pokemon-card">
            {% for pokemon in pokemon_list %}
                <a id="pokemon" href="{{ url_for('pokemon_api.get_pokemon', poke_id=pokemon.key) }}">
                    <img class="responsive-img circle"
                        src="{{ pokemon.image_url }}">
                </a>
            {% endfor %}
        </div>

    {% endblock %}

    {% block trade_window %}
        <div class="card-panel players-card">
            <ul id="tabs-players" class="tabs">
                <li class="tab col s6"><a class="active" href="#player-1">Player 1</a></li>
                <li class="tab col s6"><a href="#player-2">Player 2</a></li>
            </ul>
            <div class='player-card'>
                <div id="player-1" class="col s12">
                    <div id="player-1-detail"></div>
                </div>
                <div id="player-2" class="col s12">
                    <div id="player-2-detail"></div>
                </div>
            </div>
            <div class="row">
                <div class="col s12 center-align">
                    <a class="waves-effect waves-light btn">Trade</a>
                </div>
            </div>
        </div>
    {% endblock %}
</div>